.certified-history-image {
	transition: all 1s;
	aspect-ratio: 1/1 !important;
	height: fit-content;
	width: 300px;
	margin-left: 12%;

	transform: scale(1.5) rotateY(-25deg) rotateX(10deg) translateZ(+20px); /* Adjust the rotation and translation values to control the depth and angle */
	&:hover {
		transition: all 1s;
		transform: scale(1.5) rotateY(calc(-25deg + var(--mouse-x) / 80))
			rotateX(calc(10deg - var(--mouse-y) / 40)) translateZ(+50px);
	}
	@media (max-width: 1500px) {
		width: 250px;
	}

	@media (max-width: 1200px) {
		width: 100%;
		max-width: 250px;
		margin-left: 40px;
	}

	@media (max-width: 850px) {
		margin-left: 120px;

		width: 110%;
	}
	@media (max-width: 700px) {
		margin-top: 80px;
		max-width: unset;
		margin-left: unset;
		margin-bottom: 80px;
		position: relative;
		left: 2%;
		width: 62%;
	}
}
.container-certified-history-call-to-action {
	margin-top: 36px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 24px;
	position: relative;

	@media (max-width: 700px) {
		gap: 12px;
		flex-direction: column;
	}
	@media (min-width: 700px) {
		> *:last-child {
			display: flex;
			overflow: hidden;
			max-width: 100%;
			flex-wrap: nowrap;

			position: relative;
			opacity: 0;
			transition: opacity 1s ease-out;
			align-self: flex-start;
		}
		&.accordion-text-open {
			flex-direction: column;
			align-items: flex-start;

			> *:last-child {
				max-width: 0 !important;
				opacity: 0 !important;
				transition: opacity 1s ease-out;
			}
		}
	}
}
#certified-history-text-container {
	opacity: 0;
	z-index: 20;
}
#certified-history-container {
	background: black;
}
.container-certified-history-image {
	opacity: 0;
	width: 100%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	perspective: 1200px; /* Adjust the perspective value to control the depth effect */
	perspective-origin: center;
	& #certified-history-first-bubble-background {
		position: absolute;
		width: 392.4px;
		height: 392.4px;
		left: 70%;
		bottom: -5%;

		/* grad01 */
		// background: linear-gradient(90deg, #ab00c7 0.58%, #0075ff 97.84%);
		background: linear-gradient(149.09deg, rgb(254 181 9 / 92%) 13.58%, rgb(219 158 13 / 87%) 41.38%, rgb(138 108 40 / 82%) 58.2%, rgb(82 65 25 / 86%) 69.76%);

		mix-blend-mode: screen;
		opacity: 0.4;
		filter: blur(29.5px);
		border-radius: 100000px;
		transform: rotate(-1.77deg);
		z-index: -20;
		animation: bubble-certified-history-first 5s ease-in-out infinite;
		animation-delay: 0s;
		@media (max-width: 700px) {
			width: 200px;
			height: 200px;
			bottom: -15%;
		}
	}
	& #certified-history-second-bubble-background {
		position: absolute;
		width: 392.4px;
		height: 392.4px;
		left: -10%;
		top: -5%;
		z-index: -20;

		/* grad01 */

		// background: linear-gradient(90deg, #ab00c7 0.58%, #0075ff 97.84%);
		background: linear-gradient(149.09deg, rgb(254 181 9 / 92%) 13.58%, rgb(219 158 13 / 87%) 41.38%, rgb(138 108 40 / 82%) 58.2%, rgb(82 65 25 / 86%) 69.76%);

		mix-blend-mode: screen;
		opacity: 0.4;
		filter: blur(29.5px);
		border-radius: 100000px;
		transform: rotate(135deg);
		animation: bubble-certified-history-second 5s ease-in-out infinite;
		animation-delay: 1s;
		@media (max-width: 700px) {
			width: 200px;
			height: 200px;
			top: 20%;
		}
	}
	& #certified-history-third-bubble-background {
		position: absolute;
		width: 392.4px;
		height: 392.4px;
		left: 40%;
		top: 0%;
		z-index: -20;

		/* grad01 */

		// background: linear-gradient(90deg, #ab00c7 0.58%, #0075ff 97.84%);
		background: linear-gradient(149.09deg, rgb(254 181 9 / 92%) 13.58%, rgb(219 158 13 / 87%) 41.38%, rgb(138 108 40 / 82%) 58.2%, rgb(82 65 25 / 86%) 69.76%);

		mix-blend-mode: screen;
		filter: blur(29.5px);
		border-radius: 100000px;
		transform: rotate(135deg);
		animation: bubble-certified-history-third 5s ease-in-out infinite;
		animation-delay: 2s;
		@media (max-width: 700px) {
			width: 200px;
			height: 200px;
			top: 30%;
		}
	}
	& #certified-history-fourth-bubble-background {
		position: absolute;
		width: 392.4px;
		height: 392.4px;
		left: 0%;
		bottom: 0%;
		z-index: -20;

		/* grad01 */

		// background: linear-gradient(90deg, #ab00c7 0.58%, #0075ff 97.84%);
		background: linear-gradient(149.09deg, rgb(254 181 9 / 92%) 13.58%, rgb(219 158 13 / 87%) 41.38%, rgb(138 108 40 / 82%) 58.2%, rgb(82 65 25 / 86%) 69.76%);

		mix-blend-mode: screen;
		filter: blur(29.5px);
		border-radius: 100000px;
		transform: rotate(135deg);
		animation: bubble-certified-history-fourth 5s ease-in-out infinite;
		animation-delay: 3s;
		@media (max-width: 700px) {
			width: 200px;
			height: 200px;
			bottom: 10%;
		}
	}
}

@keyframes bubble-certified-history-first {
	0% {
		transform: rotate(88.23deg) translateY(0) translateX(0) scale(1.5);
	}
	50% {
		transform: rotate(88.23deg) translateY(-100px) translateX(-100px)
			scale(0.7);
	}
	100% {
		transform: rotate(88.23deg) translateX(0) translateY(0) scale(1.5);
	}
}
@keyframes bubble-certified-history-second {
	0% {
		transform: rotate(-135deg) translateY(0) translateX(0) scale(1.5);
	}
	50% {
		transform: rotate(-135deg) translateY(-100px) translateX(-100px)
			scale(0.7);
	}
	100% {
		transform: rotate(-135deg) translateX(0) translateY(0) scale(1.5);
	}
}
@keyframes bubble-certified-history-third {
	0% {
		transform: rotate(-135deg) translateY(0) translateX(0) scale(1.5);
	}
	50% {
		transform: rotate(-135deg) translateY(-100px) translateX(-100px)
			scale(0.7);
	}
	100% {
		transform: rotate(-135deg) translateX(0) translateY(0) scale(1.5);
	}
}
@keyframes bubble-certified-history-fourth {
	0% {
		transform: rotate(-135deg) translateY(0) translateX(0) scale(1.5);
	}
	50% {
		transform: rotate(-135deg) translateY(-100px) translateX(-100px)
			scale(0.7);
	}
	100% {
		transform: rotate(-135deg) translateX(0) translateY(0) scale(1.5);
	}
}
